body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: #ebebeb;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: #ebebeb;
}
h2 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    color: #ebebeb;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(48, 46, 46);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
label {
    text-align: left;
    margin-bottom: 10px;
    color: #ebebeb;
}
input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px;
    color: #ebebeb;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #4cae4c;
}
a {
    color: black;
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    .container {
        margin: 30px auto;
        padding: 15px;
    }
    label {
        font-size: 16px;
    }
    input, textarea, button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    .container {
        margin: 20px auto;
        padding: 10px;
    }
    label {
        font-size: 14px;
    }
    input, textarea, button {
        font-size: 14px;
    }
    a {
        font-size: 14px;
    }
}